
.azeret-mono-normal {
     font-family: "Azeret Mono", monospace;
     font-optical-sizing: auto;
     font-weight:10px;
     font-style: normal;
   }
   /* banner css */
.header{
     background-image: url('../assets/Hero-bg.png');}
     
.content{ text-align: center; 
     margin: 80px;

}
img{ 

     display: block;
      margin: 0 auto;
      width: 20%; 
     
 }
.banner{
     background-color: #000072,#FFFFFF,#0D1321;
     
}
.heading{
     color: #0D1321;
     font-size: 48;
     text-align: center;
}
.btn{
     background-color: #0D1321;
     color: #FFFFFF;
     width: 130px;
     height: 40px;
     border-radius: 5px;
     margin-bottom: 20px; 
}

 .texts{
     text-align: center;
     color: rgba(13, 19, 33, 1);
}
/* reason design */
.reason-section{
     margin:80px; 
         text-align: center;    
}
.one{
      width: 400px; 
     height: 140px;
}
.reasons{
      padding: 50px;
       
}
.reason{
     display:inline-block;
     
}
.imgs{
     width: 250px;
     height: 160px;
}
/* inspiration */
#vedio{
     margin-top: 40px;
}
/* target css */
.trgt-container{
     display: flex;
     gap: 24px;
}
.targets{
     text-align: center; 
      /* padding: 100px; */
      margin: 100px;
}
.target{
     width: 250px;
     height: 180px;
     padding: 50px;
    margin-top: 50px;
     border-radius: 10px;
  
}
.html{
     background-color:rgba(255, 76, 30, 0.06);
}
.css{
background-color: rgba(0, 76, 232, 0.05);
}
.js{ 
       background-color: rgba(255, 223, 0, 0.05);
}
li{ list-style: none;
     color: rgba(13, 19, 33, 1);
 text-align:left;
 } 
 .support{
     height: 209px;
     background-image:url('../assets/handshake.jpg');
     background-size: cover;
     background-position: center;
     border-radius: 15px;
     padding: 64px;
    
}

.supports{ 
      text-align: center; 
      margin: 80px;
      
 }
.white{
     color: rgba(255, 255, 255, 1);
}
.cmnt{
     width: 400px;
     border: none;
     padding: 14px;
     border-radius: 5px;
     margin: 0px;}
.sub{
      padding: 8px; 
     width: 100px;
     height: 40px;
     border-radius: 5px;
     border: none;
      margin: 0px; 
}
/* footer style */
nav{
     display:flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px;
     margin:40px;
}
nav ul{
     display: flex;
}
.icon{
     width: 30px;
}